#nav-wrapper li,
.menu-items-smallerWidth li {
  position: relative;
  overflow: hidden;
  list-style: none;
  display: inline-block;
  text-align: center;
}

#nav-wrapper li::after,
.menu-items-smallerWidth li::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: orangered;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease;
}

#nav-wrapper li:hover::after,
.menu-items-smallerWidth li:hover::after {
  transform: scaleX(1);
}
.active {
  position: relative;
}

.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: orangered;
  position: absolute;
  bottom: 20%;
  left: 0;
  transform: scaleX(1);
}

@media (max-width: 638px) {
  .menu-items-smallerWidth {
    scroll-behavior: none;
  }
}
